src/kniffel/__pycache__/__init__.cpython-314.pyc
src/kniffel/game/__pycache__/__init__.cpython-314.pyc
src/kniffel/game/__pycache__/dice.cpython-314.pyc
tests/__pycache__/test_dice.cpython-314.pyc
src/kniffel/game/__pycache__/category.cpython-314.pyc
tests/__pycache__/_support.cpython-314.pyc
